header{
    background-color: #ffffff;
    width: 100%;
    height: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    /* position: sticky;
    top: 0; */
   
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.247);
}

img{
    height: 30vh;
    margin: 0 auto;
}

@media(max-width: 850px){
    header{
        height: 10vh;
    }
}