@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rajdhani:wght@300&display=swap');


html, body{
    box-sizing: border-box;
    margin: 0%;
    font-family: 'Rajdhani', sans-serif;
}

::-webkit-scrollbar {
    width:10px;
    }
     
    
::-webkit-scrollbar-track {
    background:#333;
}
     

::-webkit-scrollbar-thumb {
    background: #ffa600;
    border-radius: 100px;
}