:root{
    --corSecundary: #161616;
}

footer{
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--corSecundary);
    color: white;
    font-size: 18px;
    text-align: center;
}

@media(max-width: 1024px){
    footer{
       font-size: 16px;
       padding: 5%;
    }
}